.respuesta-respuesta {
    color: black;
}

.respuesta-respuesta .respuesta-username {
    font-weight: bold;
    color: black;
}

.respuesta-respuesta .respuesta-content {
    /* Estilos para el contenido de la respuesta */
    color: black;
}


body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

.card {
    background-color: #222;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #444;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #333;
    border-bottom: none;
}
.card-body {
    background-color: #222;
}
.card-body p {
    color: #fff;
}
.card-body img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.btn {
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #ffd700;
    color: #000;
}